<h1>Listing Ratings</h1>
<p>
  Number of ratings <%= @ratings.count %>
</p>

<ul>
 <% @ratings.each do |rating| %>
   <li>
     <% if rating.beer.nil? %>
        <%= rating.score %>
      <% else %>
      <%= rating %> <%= link_to rating.user.username, rating.user %>
     <% end %>
   </li>
 <% end %>
</ul>

<%= link_to 'Create a new rating', new_rating_path%>
