<p id="notice"><%= notice %></p>

<h2> <%= @beer %></h2>

<p>
  <strong>Style:</strong>
  <%= link_to @beer.style, @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= link_to @beer.brewery.name, @beer.brewery %>
</p>

<p>
  <% if @beer.ratings.empty? %>
    <span>This beer has not been rated</span>
  <% else %>
    Has <%= pluralize(@beer.ratings.count , 'rating') %>, average <%= round(@beer.average_rating) %>
  <% end %>
</p>

<% if current_user %>
  <h4>give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    score: <%= f.number_field :score %>
    <%= f.submit %>
  <% end %>

  <%= edit_and_destroy_buttons(@beer) %>

<% end %>
